{% extends 'base.html' %}

{% block content %}
<div class="m-2 p-2 rounded bg-light text-light">
  <h1 class="shadow-lg p-3 mb-0 text-center text-warning rounded bg-dark">Products</h1>
</div><hr>
{% for product in products.all %}
<div class="row m-3 p-3">
    <div class="col-3">
      <a href="{% url 'product_detail' product.id %}"><img src="{{ product.icon.url }}" width="120"/></a>
    </div>
    <div class="col-6" style="cursor:pointer;">
      <h2 onclick="window.location= '{% url 'product_detail' product.id %}'; ">{{ product.title }}</h2>
      <h3 >{{ product.pub_date_pretty }}</h3>
    </div>
    <div class="col-3">
      <button onclick="javascript:{document.getElementById('upvote {{ product.id }}').submit()}" class="btn btn-danger btn-lg btn-block"><span class="oi oi-caret-top m-1"></span> UPVOTE {{ product.votes_total }}</button></a>
    </div>
</div>

<form id="upvote {{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>

{% endfor %}

{% endblock %}
